<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Movie" aria-label="Search">
      <button class="class=btn btn-secondary" type="submit">Search</button>
    </form>
  </div>
</nav>